
.contenedor{    
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Cuerpo de la consola*/
.consola{
    height: 30em;
    width: 60em;
    background-color: #d7c6a8;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border: outset 0.6em #ae0e22;
    border-radius: 0.5em;
    box-shadow: 1em 1em 1em 1em grey;    
}

/*Parte izquierda de la consola. Compuesto por el logo y la cruceta.*/
.left{
    height: 30em;
    width: 14em;    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.leftHijo1{
    height: 3.5em;
    width: 14em;
}

/* Zona del logo de Game & Watch*/
.leftHijo2{
    height: 6.5em;
    width: 14em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

/*Relleno lateral del logo Game & Watch*/
.leftGYWrelleno{
    height: 6.5em;
    width: 3.5em;
}
/*Propiedades del logo Game & Watch*/
.leftGYWLogo{
    height: 6em;
    width: 7em;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 0.4em;
    border: black solid 0.1em;
}

p{
    font-size: 1.8em;
    text-align: center;
    font-weight: bold;
    font-style: oblique;
}

.leftHijo3{
    height: 9em;
    width: 14em;    
}

/*Div que contiene el D-Pad.*/
.leftHijo4{
    height: 9em;
    width: 14em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.leftHijo4Vacio{
    height: 9em;
    width: 2.5em;
}

/*Divisiones del D-Pad*/
.dPad{
    height: 9em;
    width: 9em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.dPadUp{
    height: 3em;
    width: 9em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.dPadUpButton{
    height: 3em;
    width: 3em;
    background-color: #27292b;
    border-top: outset 0.3em #ae0e22;
    border-right: outset 0.3em #ae0e22;
    border-left: outset 0.3em #ae0e22;
    border-radius: 0.5em 0.5em 0 0.5em;
}

.dPadEmpty{
    height: 3em;
    width: 3em;
}

.dPadCenter{
    height: 3em;
    width: 9em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.dPadLeftButton{
    height: 3em;
    width: 3em;
    background-color: #27292b;
    border-top: outset 0.3em #ae0e22;
    border-left: outset 0.3em #ae0e22;
    border-bottom: outset 0.3em #ae0e22;
    border-radius: 0.5em 0 0.5em 0.5em;    
}

.dPadCenterButton{
    height: 3em;
    width: 3em;
    background-color: #27292b;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.CenterButtonEffect{
    height: 2em;
    width: 2em;
    background-color: black;
    border-radius: 50%;
    box-shadow: 0px 0px 10px 0px #333 inset;    
}

.dPadRightButton{
    height: 3em;
    width: 3em;
    background-color: #27292b;
    border-top: outset 0.3em #ae0e22;
    border-right: outset 0.3em #ae0e22;
    border-bottom: outset 0.3em #ae0e22;
    border-radius: 0.3em 0.3em 0.3em 0;
}

.dPadDown{
    height: 3em;
    width: 9em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;    
}

.dPadDownButton{
    height: 3em;
    width: 3em;
    background-color: #27292b;
    border-left: outset 0.3em #ae0e22;
    border-right: outset 0.3em #ae0e22;
    border-bottom: outset 0.3em #ae0e22;
    border-radius: 0 0.3em 0.3em 0.3em;
}

/*Parte vacia debajo del D-Pad*/
.leftHijo5{
    height: 3em;
    width: 14em;
}



/*Parte central de la consola. Se compone de la pantalla principalmente.*/
.center{
    height: 30em;
    width: 32em;    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.center1{
    height: 2em;
    width: 30em;
}


/*Zona de la pantalla y logo de Nintendo y Mario*/
.center2{
    height: 26em;
    width: 30em;
    border: 0.8em outset #fdf8ec;
    border-radius: 0.5em;
    justify-content: center;
    align-items: center;
    flex-direction: column;   
    display: flex; 
}


.logoMario{
    height: 3em;
    width: 30em;
    align-items: center;
    justify-content: center;
    display: flex;
}

.screen{
    height: 24em;
    width: 26em;
    background-color: black;
    display: flex;
    justify-content: center;
    align-content: center;
}

.logoNintendo{
    height: 3em;
    width: 30em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center3{
    height: 2em;
    width: 30em;    
}

/*Parte de la derecha de la consola. Se compone de los botones principalmente.*/
.right{
    height: 30em;   
    width: 14em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.rightHijo1{
    height: 2em;
    width: 14em;
    background-color: salmon;
}

/*Botones Game - Time - Pause/set*/
.rightHijo2{
    height: 10em;
    width: 14em;
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: row;
}

.rightHijo2Izq{
    height: 10em;
    width: 7em;
}

/*Espacio en vacío*/
.rightHijo2Der{
    height: 10em;
    width: 7em;
    background-color: red;
}

/*Espacio en vacío*/
.rightHijo3{
    height: 6em;
    width: 14em;
    background-color: white;
}

/*Botones A y B*/
.rightHijo4{
    height: 8em;
    width: 14em;
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: row;
}

.boxbuttonB{
    height: 8em;
    width: 7em;
    display: flex;
    align-items: center;
    justify-content: center;    
}

.Redondo{
    height: 5em;
    width: 5em;
    border-radius: 50%;
    border: 0.4em outset #8a0718;  
    background-color: #bf2539; 
}

.boxButtonA{
    height: 8em;
    width: 7em;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.rightHijo5{
    height: 4em;
    width: 14em;
}


